.navbar {
  background-color: orange;
}

.general-welcome a{
  color: grey;
}

.general-welcome h1{
  color: pink;
}

.site-description {
  color: green;
}

.navbar a{
  color: black;
  margin-left: 12px;
}

body {
  background-color: black;
  color: white;
}

.login-form{
  margin-left: 10px;
}

.message{
  color: red;
}

.world-map{
  width: 60%;
  height: 100%;
  margin-right: 40px;
}

.btn{
  color: white;
  background-color: grey;
}

.profile-label{
  font-weight: bold;
}

.profile-info{
  margin-left: 20px;
}

.profile-label{
  color: #706e6a;
}

.profile-post-list{
  margin-left: 20px;
}

.city-post-list{
  display: inline-block;
}

.profile-post-list{
  display: inline-block;
}

.date-posted{
  display: inline-block;
}

.individual-post{
  margin-left: 20px;
}

.post-title{
  color: #706e6a;
}

.post-info{
  margin-left: 20px;
}

.post-content{
  margin-left: 20px;
}

.date-posted{
  color: #706e6a;
}

.not-found{
  margin-left: 20px;
}

.not-authorized{
  margin-left: 20px;
}

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content{
  color: black;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
