.navbar {
  background-color: orange;
}

a{
  color: black;
  margin-left: 12px;
}

body {
  background-color: black;
  color: white;
}

.login-form{
  margin-left: 10px;
}

.wrong-info-message{
  color: red;
}
