.navbar {
  background-color: orange;
}

.general-welcome a{
  color: grey;
}

.navbar a{
  color: black;
  margin-left: 12px;
}

body {
  background-color: black;
  color: white;
}

.login-form{
  margin-left: 10px;
}

.wrong-info-message{
  color: red;
}

.world-map{
  width: 600px;
  height: 400px;
  margin-right: 40px;
}

.btn{
  color: grey;
}
