    <script type="text/javascript" src="/script.js"></script>
    <script>
    UPLOADCARE_LOCALE = "en";
    UPLOADCARE_TABS = "file";
    UPLOADCARE_PUBLIC_KEY = "993cd5f87e79d8175a2d";
  </script>
  <script charset="utf-8" src="//ucarecdn.com/libs/widget/3.1.4/uploadcare.full.min.js"></script>
</body>
</html>
